<div class="lineups">
<% for (jdx in day.stages) {%>
    <% var stage = day.stages[jdx] %>
    <div class="stage-pane <% if (jdx > 0) { %>stage-right<% } %>" id="stage-pane-<%- jdx %>">
        <div class="stage-details container">
            <button class="stage-name"><%- stage.name %></button>
            <button class="spinner stage-date"><%- day.date.format("Do MMMM") %></button>
        </div>
        <div class="act-pane">
            <% for (kdx in stage.acts) { %>
                <% var act = stage.acts[kdx] %>
                <div class="act" data-leadtime="<%- act.leadtime %>" data-duration="<%- act.duration %>" data-act-id="<%- act.id %>">
                    <%- act.name %>
                </div>
            <% } %>
        </div>
    </div>
<% } %>
</div>