<div class="page">
  <header class="action-bar fixed-top">
    <a href="#/index" class="app-icon action">
      <i class="icon-ticket"></i>
    </a>
    <h1 class="title">&nbsp;&nbsp;Upstage</h1>
    <ul class="actions pull-right">
      <li><a href="#" class="action" title="Settings" data-transition="push"><i class="icon-settings"></i></a></li> 
      <li><a href="#" class="action" title="Sign in" data-transition="push"><i class="icon-enter"></i></a></li>
    </ul>
  </header>
  <nav class="action-bar fixed-bottom">
    <ul class="actions flex" data-overflow="false">
      <li><a href="#/acts" class="action" title="Acts" data-transition="push"><i class="icon-music"></i></a></li>
      <li><a href="#/stages" class="action" title="Stages" data-transition="push"><i class="icon-location"></i></a></li>
      <li><a href="#/map" class="action" title="Map" data-transition="push"><i class="icon-map"></i></a></li>
      <li><a href="#/search" class="action" title="Search" data-transition="push"><i class="icon-search"></i></a></li>
    </ul>
  </nav>
  <div class="content inset">
    <h1>INDEX!</h1>
  </div>
</div>