<div class="page">
  <header class="action-bar fixed-top">
    <a href="#/index" class="app-icon action">
      <i class="icon-ticket"></i>
    </a>
    <h1 class="title">&nbsp;&nbsp;Upstage</h1>
  </header>
  <div class="content inset">
    <ul class="list inset">
      <li class="list-divider">Festivals</li>
      <% _.each(festivals, function(festival){ %>
      <li class="list-item-single-line">
        <a href="#/festival/<%- festival.slug %>/stages">
        <b><%- festival.name %></b> - <small><%- festival.description %></small>
        </a>
      </li>
      <% }); %>
    </ul>

  </div>
</div>