<ul class="shelf-nav">
    <li class="nav-option active" rel="/festival/<%- slug %>/home">
        <div class="icon-wrapper"><i class="icon icon-home"></i></div>
        <div class="menu-text">Home</div>
    </li>
    <li class="nav-option" rel="/festival/<%- slug %>/lineup">
        <div class="icon-wrapper"><i class="icon icon-sort-by-attributes-alt"></i></div>
        <div class="menu-text">Line-up</div>
    </li>
    <li class="nav-option" rel="/festival/<%- slug %>/acts">
        <div class="icon-wrapper"><i class="icon icon-microphone"></i></div>
        <div class="menu-text">Acts</div>
    </li>
    <li class="nav-option" rel="/festival/<%- slug %>/locations">
        <div class="icon-wrapper"><i class="icon icon-map-marker"></i>&nbsp;</div>
        <div class="menu-text">Locations</div>
    </li>
    <li class="nav-option" rel="/festival/<%- slug %>/social">
        <div class="icon-wrapper"><i class="icon icon-comments"></i></div>
        <div class="menu-text">Social</div>
    </li>
    <li class="nav-option" rel="/festival/<%- slug %>/about">
        <div class="icon-wrapper"><i class="icon icon-question-sign"></i></div>
        <div class="menu-text">About</div>
    </li>
</ul>