<ul class="shelf-nav">
    <li class="active">
        <a href="#/index">
            <div class="icon-wrapper"><i class="icon icon-home"></i></div>
            <div class="menu-text">Home</div>
        </a>
    </li>
    <li>
        <a href="#/festival/glasgowbury/stages">
            <div class="icon-wrapper"><i class="icon icon-sort-by-attributes-alt"></i></div>
            <div class="menu-text">Line-up</div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon-wrapper"><i class="icon icon-microphone"></i></div>
            <div class="menu-text">Acts</div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon-wrapper"><i class="icon icon-map-marker"></i>&nbsp;</div>
            <div class="menu-text">Locations</div>
        </a>
</li>
    <li><a href="#">
            <div class="icon-wrapper"><i class="icon icon-comments"></i></div>
            <div class="menu-text">Social</div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon-wrapper"><i class="icon icon-question-sign"></i></div>
            <div class="menu-text">About</div>
        </a>
    </li>
</ul>