<header class="action-bar fixed-top">
  <a href="#/index" class="app-icon action">
    <i class="icon-angle-left top-action"></i>
    <i class="icon-ticket"></i>
  </a>
  <h1 class="title">&nbsp;&nbsp;<%- festival.name %> - Stages</h1>
  <ul class="actions pull-right">
    <li>
      <a href="#/festival/<%- festival.slug %>/search" class="action" title="Search">
        <i class="icon-search"></i>
      </a>
    </li>
  </ul>
</header>
<nav class="action-bar fixed-bottom">
  <ul class="actions flex">
    <li>
      <a href="#/festival/<%- festival.slug %>/stages" class="action active" title="Stages">
        <i class="icon-sort-by-attributes"></i>
      </a>
    </li>
    <li>
      <a href="#/festival/<%- festival.slug %>/acts" class="action" title="Acts">
        <i class="icon-group"></i>
      </a>
    </li>
    <li>
      <a href="#/festival/<%- festival.slug %>/map" class="action" title="Map">
        <i class="icon-map-marker"></i>
      </a>
    </li>
    <li>
      <a href="#/festival/<%- festival.slug %>/about" class="action" title="About">
        <i class="icon-info-sign"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="content inset">
  <div class="form-spinner">
    <a href="#" class="toggle-spinner"><%- festival.stages[0].name %></a>
    <ul class="spinner">
    <% _.each(festival.stages, function(stage, idx) { %>
      <% if (idx > 0) { %>
      <li class="spinner-item"><a href="#"><%- stage.name %></a></li>
      <% } %>
    <% }); %>
    </ul>
  </div>
  <div class="stage-list">
    <ul class="list inset">
    <% _.each(festival.acts, function(act, idx) { %>
      <li class="list-item-single-line"><%- act.start %> - <%- act.name %></li>
    <% }); %>
    </ul>
  </div>
</div>