.container:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pull-right
{
    float:right;
}

.pull-left
{
    float:left;
}

.main-content
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #222;
}

.primary-pane
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 36px;
    z-index: 8;
    background: #fff;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.3);
}

.header-nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111 url(../img/stagger.png) repeat repeat;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 48px;
    font-size: 32px;
    padding: 4px 4px 4px 0;
    z-index: 32;
}

.header-chevron
{
    margin-left: -20px;
    margin-right: -4px;
}

.header-action
{
    background: transparent;
    border: 0;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.header-action .disabled
{
    opacity: 0.3;
}

.upstage-branding
{
    margin: 1px 6px 0 6px;
    width: 105px;
    height: 30px;
    background: url(../img/upstage_logo.png) 2px 6px no-repeat;
    background-size: 103px 24px;
}

.upstage-branding

.shelf-menu
{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 36px;
    width:85%;
    z-index: 2;
    height: 100%;
    background: #aaa url(../img/stagger.png) repeat repeat;
}